

$background-color--primary: #18171F;
$background-color--secondary: #24232C;


$color--primary: #E6E5EA;
$color--secondary: #817D92;
$color--neon-green: #A4FFAF;
$color-yellow: #F8CD65;


@mixin flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}



body {
    font-family: "JetBrains Mono", monospace;
    background-color: $background-color--primary;
    padding: 64px 16px 0px 16px;
    box-sizing: border-box;
    color: $color--primary;
    text-align: center;
}


h1 {
    color: $color--secondary;
    font-size: 16px;
    font-weight: 700;
}

.generator-form {
    margin-top: 16px;
    max-width: 540px;


    .generated-password--container {
        padding: 17px 16px;
        box-sizing: border-box;
        @include flex-row();
        justify-content: space-between;
        background-color: $background-color--secondary;
        font-size: 24px;
        font-weight: 700;

        .generated-password {
            font-size: 24px;
            font-weight: 700;
            
        }
        
        .icon-copy {
            cursor: pointer;
        }
    }

    .section-inputs {
        margin-top: 16px;
        background-color: $background-color--secondary;
        padding: 21px 16px 16px 16px;
        box-sizing: border-box;

        .range-container {

            label {
                width: 100%;
                @include flex-row();
                justify-content: space-between;
                font-size: 16px;
                font-weight: 700;

                .character-number {
                    font-size: 24px;
                    color: $color--neon-green;
                }
                margin-bottom: 32px;
            }

            #inp-range {
                width: 100%;
                // margin-top: 32px;
                // margin-bottom: 32px;
                -webkit-appearance: none;
                appearance: none;
                background: transparent;
                // position: relative;
             
            }

            // Chrome/Safari/Edge  

            #inp-range::-webkit-slider-runnable-track {
                height: 8px;
                border-radius: 5px;
                background-color: $background-color--primary;
                z-index: 5;
            }
            

            #inp-range::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 30px;
                height: 30px;
                background-color: $color--primary;
                border-radius: 50%;
                margin-top: calc((8px - 30px) / 2);
            }

            // .range-inp-container {
            //     position: relative;
            // }

            // .progress-line {
            //     width: 100%;
            //     height: 8px;
            //     background-color: red;
            //     position: absolute;
            //     top: 50%;
            //     transform: translateY(-50%);
            //     z-index: 0;
            // }
        }

        .checkbox-list {
            margin-top: 32px;
            text-align: left;
            margin-bottom: 32px;

            .checkbox-container {
                margin-bottom: 17px;
                @include flex-row();
                gap: 20px;

                label {
                    font-size: 16px;
                    font-weight: 700;
                }

                &:last-child {
                    margin: 0px;
                }

                .inp-checkbox {
                    width: 20px;
                    height: 20px;
                    position: relative;
                    appearance: none;
                }

                .inp-checkbox::after {
                    content: "";
                    width: 20px;
                    height: 20px;
                    box-sizing: border-box;
                    border: 2px solid $color--primary;
                    position: absolute;
                    left: 0;
                    right: 0;
                    opacity: 100 !important;
                    // background-color: $color--primary;
                    transition: all 0.1s;
                }
                
                .inp-checkbox::before {
                    content: "";
                    display: block;
                    width: 9px;
                    height: 5px;
                    border-left: 3px solid $background-color--primary;
                    border-bottom: 3px solid $background-color--primary;

                    position: absolute;
                    top: 45%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                    z-index: 1;
                    transition: all 0.2s;
                    visibility: hidden;
                }

                .inp-checkbox:checked::after {
                    border: 2px solid $color--neon-green;
                    background-color: $color--neon-green;
                }

                .inp-checkbox:checked::before {
                    visibility: visible;
                }
            }
        }

        .password-strength--container {
            @include flex-row();
            justify-content: space-between;
            margin-bottom: 16px;
            background-color: $background-color--primary;
            height: 56px;
            padding: 0dvh 16px;
            box-sizing: border-box;

            p {
                font-size: 16px;
                font-weight: 700;
                color: $color--secondary;
            }

            .strength-indicator {

                p {
                    font-size: 18px;
                    color: $color--primary;
                    text-transform: uppercase;

                }

                @include flex-row();
                gap: 16px;

                .squers {

                    @include flex-row();
                    gap: 8px;

                    div {
                        width: 10px;
                        height: 28px;
                        border: 2px solid $color--primary;
                        box-sizing: border-box;
                    }
                }
            }

            .yellow-squer {
                background-color: $color-yellow;
                border: none !important;
            }
        }

        .submit-btn {
            width: 100%;
            height: 56px;
            @include flex-row();
            justify-content: center;
            gap: 16px;
            background: $color--neon-green;
            border: none;
            outline: none;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            cursor: pointer;
        }

    }


}








// .generator-form {
//     max-width: 540px;   
//     text-align: center;
//     position: relative;

//     fieldset {
//         background-color: $background-color--secondary;
//     }

//     legend {
//         position: absolute;
//         top: -16px;
//         left: 50%;
//         transform: translate(-50%, -100%);
//     }

//     .generated-password--div {
//         @include flex-row();
//     }
// }

