body {
  font-family: "JetBrains Mono", monospace;
  background-color: #18171F;
  padding: 64px 16px 0px 16px;
  box-sizing: border-box;
  color: #E6E5EA;
  text-align: center;
}

h1 {
  color: #817D92;
  font-size: 16px;
  font-weight: 700;
}

.generator-form {
  margin-top: 16px;
  max-width: 540px;
}
.generator-form .generated-password--container {
  padding: 17px 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #24232C;
  font-size: 24px;
  font-weight: 700;
}
.generator-form .generated-password--container .generated-password {
  font-size: 24px;
  font-weight: 700;
}
.generator-form .generated-password--container .icon-copy {
  cursor: pointer;
}
.generator-form .section-inputs {
  margin-top: 16px;
  background-color: #24232C;
  padding: 21px 16px 16px 16px;
  box-sizing: border-box;
}
.generator-form .section-inputs .range-container label {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
}
.generator-form .section-inputs .range-container label .character-number {
  font-size: 24px;
  color: #A4FFAF;
}
.generator-form .section-inputs .range-container label {
  margin-bottom: 32px;
}
.generator-form .section-inputs .range-container #inp-range {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}
.generator-form .section-inputs .range-container #inp-range::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 5px;
}
.generator-form .section-inputs .range-container #inp-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background-color: #E6E5EA;
  border-radius: 50%;
  margin-top: -11px;
}
.generator-form .section-inputs .checkbox-list {
  margin-top: 32px;
  text-align: left;
  margin-bottom: 32px;
}
.generator-form .section-inputs .checkbox-list .checkbox-container {
  margin-bottom: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.generator-form .section-inputs .checkbox-list .checkbox-container label {
  font-size: 16px;
  font-weight: 700;
}
.generator-form .section-inputs .checkbox-list .checkbox-container:last-child {
  margin: 0px;
}
.generator-form .section-inputs .checkbox-list .checkbox-container .inp-checkbox {
  width: 20px;
  height: 20px;
  position: relative;
  appearance: none;
}
.generator-form .section-inputs .checkbox-list .checkbox-container .inp-checkbox::after {
  content: "";
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 2px solid #E6E5EA;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 100 !important;
  transition: all 0.1s;
}
.generator-form .section-inputs .checkbox-list .checkbox-container .inp-checkbox::before {
  content: "";
  display: block;
  width: 9px;
  height: 5px;
  border-left: 3px solid #18171F;
  border-bottom: 3px solid #18171F;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  z-index: 1;
  transition: all 0.2s;
  visibility: hidden;
}
.generator-form .section-inputs .checkbox-list .checkbox-container .inp-checkbox:checked::after {
  border: 2px solid #A4FFAF;
  background-color: #A4FFAF;
}
.generator-form .section-inputs .checkbox-list .checkbox-container .inp-checkbox:checked::before {
  visibility: visible;
}
.generator-form .section-inputs .password-strength--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  background-color: #18171F;
  height: 56px;
  padding: 0dvh 16px;
  box-sizing: border-box;
}
.generator-form .section-inputs .password-strength--container p {
  font-size: 16px;
  font-weight: 700;
  color: #817D92;
}
.generator-form .section-inputs .password-strength--container .strength-indicator p {
  font-size: 18px;
  color: #E6E5EA;
  text-transform: uppercase;
}
.generator-form .section-inputs .password-strength--container .strength-indicator {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.generator-form .section-inputs .password-strength--container .strength-indicator .squers {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.generator-form .section-inputs .password-strength--container .strength-indicator .squers div {
  width: 10px;
  height: 28px;
  border: 2px solid #E6E5EA;
  box-sizing: border-box;
}
.generator-form .section-inputs .password-strength--container .yellow-squer {
  background-color: #F8CD65;
  border: none !important;
}
.generator-form .section-inputs .submit-btn {
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background: #A4FFAF;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
